.bg-container {
  background-color: #ffc2a0;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.list-card {
  min-width: 250px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-heading {
  font-family: 'Roboto';
  color: #ff8542;
  font-weight: bold;
}

@media (max-width: 767px) {
  .bg-container {
    padding: 4px;
  }
  .list-card {
    width: 95%;
  }

  .todo-heading {
    font-size: 30px;
  }

  .list-item {
    width: 60%;
  }
  .title {
    font-size: 15px;
  }

  .button {
    max-height: 35px;
    max-width: 120px;
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .bg-container {
    background-color: #ffc2a0;
    max-height: 1200px;
  }
  .list-card {
    width: 70%;
  }

  .todo-heading {
    font-size: 50px;
  }

  .list-item {
    width: 60%;
  }
  .title {
    font-size: 18px;
  }

  .button {
    max-height: 35px;
    max-width: 150px;
    font-size: 15px;
  }
}
